<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/zephyr/bootstrap.min.css"
      integrity="sha512-dcTg+pv6j02FTyko5ua8nsnARs/l4u43vmnbeVgkFWB5wdLgfUq4CEotFWOlTE4XK7FfVriWj7BrpqET/a+SJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>404</title>
  </head>
  <body>
    <div class="container">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">404</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            The page you are looking for was not found. Please try again.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/">
              Go Home
            </a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Support
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
