<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Blog Page</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      A basic fiber boilerplate. Fiber is a Go web framework built on top of
      Fasthttp, the fastest HTTP engine for Go. It's designed to ease things up
      for fast development with zero memory allocation and performance in mind.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" href="/">
        Go Home
      </a>
      <a type="button" class="btn btn-outline-secondary btn-lg px-4">
        Contact Me
      </a>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 35vh">
    <div class="container px-5">
      <img
        src="static/images/go.svg"
        class="img-fluid mb-4"
        alt="Example image"
        width="700"
        height="700"
        loading="lazy"
      />
    </div>
  </div>
</div>
